/* .header {
  color: blueviolet;
}
.text,
.text-block {
  color: red;
}
.sheet {
  color: aquamarine;
}
.footer .box {
  color: darkmagenta;
  font-weight: bold;
} */
/* .bold {
    color: blue;
}
.wrapper {
    color: red;
}
.box {
    /* padding-top: 79px;
    padding-left: 100px; */
    /* padding: 40px 60px 70px 100px;
    background-color: blueviolet;
}
.pebble {
    padding: 80px;
    background-color: blue;
    border: 6px solid lightblue;
} */ 

